*{
	margin: 0px auto;
}
html, body{
	height: 100%;
	/*position: relative;*/
	/*background-color: #D3D3D3;*/
}
#gambar-atas{
	background-image: url('kayu.jpg');
	width: 100%;
	 background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    position: absolute;
    bottom: 52.5%;
    /*z-index: -1;*/
}
#container{
	/*position: absolute;*/
	/*min-height: 100%;*/

}
#header{
	background-color:  #816C5B;
	padding: 10px;
	height: 50px;
	position: fixed;
	width: 100%;
	top: 0px;
	z-index:999;

}
#header #logo a{
	font-size: 2em;
	font-family: verdana;
	text-decoration: none;
	color: white;
	float: left;
	line-height: 50px;
	position: fixed;
	/*margin-right: 800px;*/
}
#header #logo a:hover{
	color: yellow;
}
.menu {
	font-family: verdana;
	font-size: 20px;
	color: white;
	position: fixed;
	right: 10px;
	bottom: 90%;
	top: 22px;
}
.menu a{
	margin-left: 40px;
	padding: 5px 25px;
	text-decoration: none;
	color: white;
	background-color: black;
	border-radius: 10px/10px;
}
.menu a:hover{
	background-color: grey;
}
#header .menu li{
	list-style: none;
	float: left;
}
#content{
	padding: 10px;
	/*position: relative;*/
	/*padding-bottom: 60px;*/
}

#text-gambar{
	position: absolute;
	bottom: 50%;
	text-align: center;
	left: 10%;
	right: 10%;
}
#text-gambar b{
	color: white;
	font-size: 5em;
	font-family: verdana;
}
#text-gambar h1{
	color: yellow;
	font-size: 2em;
	font-family: verdana;
	margin-bottom: 1em; 

}
#text-gambar a{
	text-decoration:none;
	color: white;
	background-color: #4682B4;
	font-family: verdana;
	font-size: 20px;
	padding: 15px 20px;
	border-radius: 30px/30px;
}
#text-gambar a:hover{
	background-color: #00344D;
}
#text{
	position: absolute;
	right: 5%;
	left: 5%;
	top: 60%;
}
#text h2{
	color:navy;
	font-family: verdana;
	font-size: 2.5em;
	margin-top: 50px;
	text-align: center;
}
#text p{
	color: grey;
	font-family: verdana;
	text-align: center;
	font-size: 2em;
	margin-bottom: 40px;
	margin-top: 10px;
}
#text h1{
	font-family: verdana;
	text-align: center;
	font-size: 3.2em;
	color: #816C5B;
	margin-bottom: 10px;

}
#text img {
    width: 700px;
    transition: 1s;
    text-align: center;
    position: relative;
    text-align: center;
    left: 20%;
    right: 50%;
    margin-bottom: 100px;
    margin-right: 100px;
}
#text img:hover {
    transform: scale(1.5);
}
#kritik-saran{
	background-color: #D3D3D3;
	width: 100%;
	position: fixed;
	bottom: 15%;
	right: 0px;
	left: 0px;
	height: 10%;
	float: left;

}
#kritik-saran p{
	color:maroon;
	font-family: verdana;
	text-align: left;
	margin-top: 25px;
	margin-left: 10px;
	font-weight: bold;
	font-size: 1em;
	float: left;
}
#kritik-saran input{
 line-height: 25px;
 margin-top: 20px;
 margin-left: 10px;
 width: 200px;
 border-radius: 10px/10px;
 float: left;
}
#kritik-saran textarea{
 margin-top: 10px;
 margin-left: 10px;
 width: 400px;
 border-radius: 10px/10px;
 float: left;
 height: 40px;
}
#kritik-saran a{
	color: maroon;
	margin-left: 25%;

	text-decoration:none;
	font-family: verdana;
	font-size: 30px;
	line-height: 70px;
}
#kritik-saran a:hover{
	color: navy;
}
#footer{
	height: 15%;
	line-height: 100px;
	background-color: #333;
	color: #fff;
	position: fixed;
	bottom: 0px;
	width: 100%;
	text-align: center;
	font-family: verdana;
	font-weight: bold;
}
@media (max-width: 600px) { 
#header #logo a{
	margin-right: 70px;
	font-size: 1.8em;
}
.menu a{
	margin-left: 20px;
	padding: 5px 20px;
	font-size: 15px;
	font-weight: bold;
}
#text img {
    width: 300px;
}
#kritik-saran a{

	font-size: 15px;
}
#text-gambar h1{
	font-size: 1.5em;
}
#text-gambar b{
	font-size: 2.3em;
}
}
@media (max-width: 1050px) and (min-width: 601px){
#text img {
    width: 400px;
}
#kritik-saran a{

	font-size: 18px;
	text-align: center;
	margin-left: 100px;
	margin-right: 100px;
}
#text-gambar{
	top: 15%;
	bottom: 49%;
}
#text-gambar h1{
	font-size: 1.8em;
}
#text-gambar b{
	font-size: 2.5em;
}
}