@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

body {
    background-color: #816C5B;  
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Roboto Condensed', sans-serif;
}
.login {
    width: 400px;
    margin: 150px auto;
    font-size: 17px;
}

.login-admin,
.login p {
    margin-top: 0;
    margin-bottom: 0;
}

.login-admin {
    background: #3B3024;
    padding: 20px;
    font-size: 1.4em;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.login-isi {
    background: #777777;
    padding: 12px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.login p {
    padding: 12px;
}

.login input {
    box-sizing: border-box;
    border-radius: 10px;
    display: block;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    padding: 16px;
    outline: 0;
    font-size: 0.95em;
}

.login input[type="username"],
.login input[type="password"] {
    background: white;
    border-color: white;
    color: black;
}

.login input[type="username"]:focus,
.login input[type="password"]:focus {
    border-color: black;
}

.login input[type="submit"] {
    background: #3B3024;
    border-color: transparent;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.login input[type="submit"]:hover {
    background: #816C5B;
}

.login input[type="submit"]:focus {
    border-color: #414040;
}

a {
    color: white;
    text-decoration: none;
}

.login a:hover {
    color: #414040;
}



@media (max-width:420px){
    .login{
        width: 250px;
        font-size: 14px;
        margin: 150px auto;
    }
}

@media (max-width:720px){
    .login{
        width: 300px;
        font-size: 14px;
        margin: 150px auto;
    }
}
